FreeType==2.3
libpng==1.2
NumPy==1.11
cycler==0.10.0
dateutil==2.1
kiwisolver==1.0.0
Flask==1.1.2
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
gunicorn == 20.1.0
scikit-learn==0.24.2
pandas==1.2.4
