<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics Solver</title>
</head>
<body>
    <form action="/answers" method="POST">
        <label for="traindata">Enter y values: </label>
        <input type="search" name="traindata" id="traindata"><br><br>
        <label for="testdata">Enter Data for prediction(x): </label>
        <input type="search" name="testdata" id="testdata"><br><br>
        <pre>Data Preview: <br>{{data_table}}</pre>
        <pre>Correlation values: <br>{{corr}}</pre>
        <label for="graphing">Choose graph type- Scatter Plot[0] or Graph[1]: </label>
        <input type="search" name="graphing" id="graphing"><br><br>
        <label for="answer">Enter values for prediction: </label>
        <input type="search" name="answer" id="answer"><br><br>
        <label for="card">Enter Data for the measures of central tendency: </label>
        <input type="search" name="card" id="card"><br><br>
        <input type="submit" value="Submit">
        <pre>Central tendencies: <br>{{centraltendencies}}</pre>
        <p>Answer: <br>{{answer}}</p><br><br>
        <img src="data:image/png;base64, {{ plot_url }}"><br><br>
        <pre>Line of best fit coordinates: <br><br>{{bestfit}}</pre>
        <pre>Line of best fit Equation: {{bestfiteq}}</pre>
    </form>
</body>
</html>
