<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics Solver</title>
</head>
<body>
    <form action="/answers" method="POST">
        <label for="traindata">Enter Data for training: </label>
        <input type="search" name="traindata" id="traindata"><br><br>
        <label for="testdata">Enter Data for testing: </label>
        <input type="search" name="testdata" id="testdata"><br><br>
        <pre>Data: <br>{{data_table}}</pre>
        <pre>Correlation: <br>{{corr}}</pre>
        <label for="graphing">Scatter Plot[0] or Graph[1]: </label>
        <input type="search" name="graphing" id="graphing"><br><br>
        <img src="./static/images/new_plot.png" alt="my plot"><br><br>
        <label for="answer">Enter test value: </label>
        <input type="search" name="answer" id="answer"><br><br>
        <input type="submit" value="Submit">
        <p>Answer: <br>{{answer}}</p>
    </form>
</body>
</html>